<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558124369473-vh0h4p0v74p95ili4a6g3ssus1pq3crp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558124369473-vh0h4p0v74p95ili4a6g3ssus1pq3crp</string>
	<key>API_KEY</key>
	<string>AIzaSyCZio86OH7wODkbZn7m20xhHKLuTjaXO6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>558124369473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ascemme.FireBase-DataBase-Storege</string>
	<key>PROJECT_ID</key>
	<string>database-e4c0e</string>
	<key>STORAGE_BUCKET</key>
	<string>database-e4c0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558124369473:ios:6c692b6332f328a44e68c0</string>
	<key>DATABASE_URL</key>
	<string>https://database-e4c0e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>